body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

      /* Navbar container */
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        opacity: transparent;
      }

      /* Logo */
      .logo {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
        color: #25d366;
      }

      /* Menu items */
      .nav-links {
        display: flex;
        gap: 25px;
      }

      .nav-links a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        transition: color 0.3s;
      }

      .nav-links a:hover {
        color: #25d366;
      }

      /* Right buttons */
      .slide-btn {
        position: relative;
        padding: 12px 24px;
        border: 2px solid #ff6b6b;
        background: transparent;
        color: #ff6b6b;
        font-size: 16px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 28px;
        margin-left: 0px;
        padding-right: 80px;
        z-index: -1;
      }

      .slide-btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #03f6e2;
        transition: 0.4s;
        z-index: -1;
      }
      .slide-btn:hover::before {
        bottom: 0;
      }
      .slide-btn:hover {
        color: white;
      }

      /* Responsive */
      @media (max-width: 768px) {
        .nav-links {
          display: none;
        }
      }

      #whatsapp-banner {
        height: 800px;
        width: 1470px;
        /* border: 2px solid black; */
        position: relative;
        margin-left: 20px;
        margin-top: 120px;
        border-radius: 30px;
      }

      /* #message-privately {
        height: 250px;
        width: 250px;
        border: 2px solid black;
        position: relative; 
      }

      #message {
        position: absolute;
        top: 100px; 
        left: 10px;  
        color: white;
        font-size: 64px;
        padding: 120px 100px;
        margin-left: 40px;
        margin-top: 180px;
      }

      #privately {
        position: absolute;
        top: 100px;
        left: 10px; 
        color: white;
        font-size: 64px;
        padding: 190px 100px;
        margin-left: 40px;
        margin-top: 180px;
        letter-spacing: -0.03em;
        font-weight: 400px;
      } */





































































